
.display {
  width: 100%;
  height: 60px;
  padding: 0 4.5px;
  padding-right: 1px; /* Aumenta o espaço à esquerda */
  background-color: #1c1c1c;
  color: white;
  font-size: 2rem;
  text-align: right;
  border-radius: 3px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Arial', sans-serif;
}

.display.single-digit {
  padding-right: 10px; /* Empurra mais para a esquerda */
  justify-content: flex-start; /* Ou use 'center' para centralizar */
}